{% extends "balanced_diet/base.html" %}
<title>{% block title %}{{ dish.name }}{% endblock title %}</title>
{% load to_rl %}
{% block content %}
    <div style="clear: both; text-align: left">
    <p> Название блюда: {{ dish.name }} </p>
    <p> Продукты, которые потребуются: </p>
    {% for i in recipe %}
        <p> {{ i.product.name }} - {{ i.amountofprod }} </p>
    {% endfor %}
    {% for i in dish.recipetext|to_rl %}
        <p> {{ i }} </p>
    {% endfor %}
    <p> Калории: {{ dish.kcal }}</p>
    </div>



{% endblock content %}