{% extends "balanced_diet/base.html" %}
{% block content %}
    <table class="table">
  <thead>
    <tr>
      <th scope="col">День недели</th>
      <th scope="col">Время приема пищи</th>
      <th scope="col">Блюдо</th>
      <th scope="col">Количество, гр</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="align-middle">Понедельник</td>
      <td class="align-middle">Завтрак</td>
      <td class="align-middle"><a style="color: inherit" href="{% url 'balanced_diet:my_diet' %}">Блюдо</a></td>
      <td class="align-middle">Количество</td>
      <td><button class="btn btn-success">Изменить</button> </td>
    </tr>

    <tr>
      <td class="align-middle">Понедельник</td>
      <td class="align-middle">Обед</td>
      <td class="align-middle"><a style="color: inherit" href="{% url 'balanced_diet:my_diet' %}">Блюдо</a></td>
      <td class="align-middle">Количество</td>
      <td><button class="btn btn-success">Изменить</button> </td>
    </tr>

    <tr>
      <td class="align-middle">Понедельник</td>
      <td class="align-middle">Ужин</td>
      <td class="align-middle"><a style="color: inherit" href="{% url 'balanced_diet:my_diet' %}">Блюдо</a></td>
      <td class="align-middle">Количество</td>
      <td><button class="btn btn-success">Изменить</button> </td>
    </tr>

    <tr>
      <td class="align-middle">Вторник</td>
      <td class="align-middle">Завтрак</td>
      <td class="align-middle"><a style="color: inherit" href="{% url 'balanced_diet:my_diet' %}">Блюдо</a></td>
      <td class="align-middle">Количество</td>
      <td><button class="btn btn-success">Изменить</button> </td>
    </tr>

    <tr>
      <td class="align-middle">Вторник</td>
      <td class="align-middle">Обед</td>
      <td class="align-middle"><a style="color: inherit" href="{% url 'balanced_diet:my_diet' %}">Блюдо</a></td>
      <td class="align-middle">Количество</td>
      <td><button class="btn btn-success">Изменить</button> </td>
    </tr>

    <tr>
      <td class="align-middle">Вторник</td>
      <td class="align-middle">Ужин</td>
      <td class="align-middle"><a style="color: inherit" href="{% url 'balanced_diet:my_diet' %}">Блюдо</a></td>
      <td class="align-middle">Количество</td>
      <td><button class="btn btn-success">Изменить</button> </td>
    </tr>

    <tr>
      <td class="align-middle">Среда</td>
      <td class="align-middle">Завтрак</td>
      <td class="align-middle"><a style="color: inherit" href="{% url 'balanced_diet:my_diet' %}">Блюдо</a></td>
      <td class="align-middle">Количество</td>
      <td><button class="btn btn-success">Изменить</button> </td>
    </tr>

    <tr>
      <td class="align-middle">Среда</td>
      <td class="align-middle">Обед</td>
      <td class="align-middle"><a style="color: inherit" href="{% url 'balanced_diet:my_diet' %}">Блюдо</a></td>
      <td class="align-middle">Количество</td>
      <td><button class="btn btn-success">Изменить</button> </td>
    </tr>

    <tr>
      <td class="align-middle">Среда</td>
      <td class="align-middle">Ужин</td>
      <td class="align-middle"><a style="color: inherit" href="{% url 'balanced_diet:my_diet' %}">Блюдо</a></td>
      <td class="align-middle">Количество</td>
      <td><button class="btn btn-success">Изменить</button> </td>
    </tr>

    <tr>
      <td class="align-middle">Четверг</td>
      <td class="align-middle">Завтрак</td>
      <td class="align-middle"><a style="color: inherit" href="{% url 'balanced_diet:my_diet' %}">Блюдо</a></td>
      <td class="align-middle">Количество</td>
      <td><button class="btn btn-success">Изменить</button> </td>
    </tr>

    <tr>
      <td class="align-middle">Четверг</td>
      <td class="align-middle">Обед</td>
      <td class="align-middle"><a style="color: inherit" href="{% url 'balanced_diet:my_diet' %}">Блюдо</a></td>
      <td class="align-middle">Количество</td>
      <td><button class="btn btn-success">Изменить</button> </td>
    </tr>

    <tr>
      <td class="align-middle">Четверг</td>
      <td class="align-middle">Ужин</td>
      <td class="align-middle"><a style="color: inherit" href="{% url 'balanced_diet:my_diet' %}">Блюдо</a></td>
      <td class="align-middle">Количество</td>
      <td><button class="btn btn-success">Изменить</button> </td>
    </tr>

    <tr>
      <td class="align-middle">Пятница</td>
      <td class="align-middle">Завтрак</td>
      <td class="align-middle"><a style="color: inherit" href="{% url 'balanced_diet:my_diet' %}">Блюдо</a></td>
      <td class="align-middle">Количество</td>
      <td><button class="btn btn-success">Изменить</button> </td>
    </tr>

    <tr>
      <td class="align-middle">Пятница</td>
      <td class="align-middle">Обед</td>
      <td class="align-middle"><a style="color: inherit" href="{% url 'balanced_diet:my_diet' %}">Блюдо</a></td>
      <td class="align-middle">Количество</td>
      <td><button class="btn btn-success">Изменить</button> </td>
    </tr>

    <tr>
      <td class="align-middle">Пятница</td>
      <td class="align-middle">Ужин</td>
      <td class="align-middle"><a style="color: inherit" href="{% url 'balanced_diet:my_diet' %}">Блюдо</a></td>
      <td class="align-middle">Количество</td>
      <td><button class="btn btn-success">Изменить</button> </td>
    </tr>

    <tr>
      <td class="align-middle">Суббота</td>
      <td class="align-middle">Завтрак</td>
      <td class="align-middle"><a style="color: inherit" href="{% url 'balanced_diet:my_diet' %}">Блюдо</a></td>
      <td class="align-middle">Количество</td>
      <td><button class="btn btn-success">Изменить</button> </td>
    </tr>

    <tr>
      <td class="align-middle">Суббота</td>
      <td class="align-middle">Обед</td>
      <td class="align-middle"><a style="color: inherit" href="{% url 'balanced_diet:my_diet' %}">Блюдо</a></td>
      <td class="align-middle">Количество</td>
      <td><button class="btn btn-success">Изменить</button> </td>
    </tr>

    <tr>
      <td class="align-middle">Суббота</td>
      <td class="align-middle">Ужин</td>
      <td class="align-middle"><a style="color: inherit" href="{% url 'balanced_diet:my_diet' %}">Блюдо</a></td>
      <td class="align-middle">Количество</td>
      <td><button class="btn btn-success">Изменить</button> </td>
    </tr>

    <tr>
      <td class="align-middle">Воскресенье</td>
      <td class="align-middle">Завтрак</td>
      <td class="align-middle"><a style="color: inherit" href="{% url 'balanced_diet:my_diet' %}">Блюдо</a></td>
      <td class="align-middle">Количество</td>
      <td><button class="btn btn-success">Изменить</button> </td>
    </tr>

    <tr>
      <td class="align-middle">Воскресенье</td>
      <td class="align-middle">Обед</td>
      <td class="align-middle"><a style="color: inherit" href="{% url 'balanced_diet:my_diet' %}">Блюдо</a></td>
      <td class="align-middle">Количество</td>
      <td><button class="btn btn-success">Изменить</button> </td>
    </tr>

    <tr>
      <td class="align-middle">Воскресенье</td>
      <td class="align-middle">Ужин</td>
      <td class="align-middle"><a style="color: inherit" href="{% url 'balanced_diet:my_diet' %}">Блюдо</a></td>
      <td class="align-middle">Количество</td>
      <td><button class="btn btn-success">Изменить</button> </td>
    </tr>






  </tbody>
</table>

    <form method="post" action="{% url 'balanced_diet:create_user_nutrition' %}">
    {% csrf_token %}
    <button name="submit" class="btn btn-success mt-2">Собрать меню</button>
    </form>

{% endblock content %}