{% extends "balanced_diet/base.html" %}
{% load crispy_forms_tags %}
<title>{% block title %}Рассчитать калории{% endblock title %}</title>
{% block content %}

<div class="d-grid gap-2 col-6 mx-auto"style="max-width: 300px">
    <form method="post" action="{% url 'balanced_diet:try_service' %}">
        {% csrf_token %}
        <p>{{ kcal }}</p>
        <p>{{ prot }}</p>
        <p>{{ fats }}</p>
        <p>{{ carbs }}</p>
        {{form|crispy}}
        <button name="submit" class="btn btn-success mt-2">Рассчитать</button>
    </form>
</div>


{% endblock content %}